.cart {
  position: absolute;
  width: 75%;
  height: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  h2 {
    text-align: center;
  }
  li {
    list-style: none;
  }
  .rowWrapper {
    display: flex;
    height: 5rem;
    align-items: center;

    .img {
      width: 5rem;

    }
  }
}
