.catalogPage {
  color: var(--primary-text-color);
  width: 100%;
  margin-bottom: 5rem;
  padding-top: 3rem;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 3rem;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  /* border: 1px solid var(--border-color); */
  border-radius: 1rem;
  /* background-color: var(--gray-bg-color); */
  margin-top: 2rem;
  width: 20%;
  box-shadow:
    4px 4px 6px 0 var(--light-shadow),
    -4px -4px 6px 0 var(--dark-shadow),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 var(--dark-shadow);
}
.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

@media (max-width: 1100px) {
  .wrapper {
    gap: 1rem;
    flex-direction: column;
    align-items: center;
  }
  .sidebarMenu {
    width: 80%;
    justify-content: center;
  }
  .catalog {
    width: 100%;
  }
}

@media (max-width: 670px) {
  .sidebarMenu {
    width: 90%;
  }
}
@media (max-width: 342px) {
  .sidebarMenu {
    width: 95%;
  }
}
