.team {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  max-width: 40%;
}

.teamMember {
  display: grid;
  column-gap: 1rem;
  grid-template:
    'photo name link'
    'photo role role'
    'photo bio bio';
  max-width: 45rem;
  border-bottom: 1px var(--accent-color) solid;
  padding-bottom: 1rem;
}

.photoMember {
  grid-area: photo;
  width: 10rem;
  height: 10rem;
  border-radius: 0.5rem;
}
.bioMember {
  grid-area: bio;
  font-size: 1.4rem;
}

.roleMember {
  grid-area: role;
}

.memberName {
  grid-area: name;
}

.gitHubLInk {
  grid-area: link;
}
