.wrapperDescription {
  display: flex;
  flex-direction: column;
  /* min-height: 80%; */
  color: var(--body-text-color);

  overflow: auto;

  .description {
    width: 100%;
    font-size: 1.5rem;
    text-overflow: ellipsis;
  }

  .description.show {
    display: block;
  }

  .readMoreBtn {
    background: none;
    color: var(--accent-color);
    border: none;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
    font-size: 1.2rem;
  }
  .btnHide {
    display: none;
  }
}

@media (max-width: 768px) {
  .wrapperDescription {
    padding: 0.5rem;
  }
}
