.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar a {
  margin-right: 25px;
  text-decoration: none;
  color: black;
  transition: 0.4s all ease-in;
}
.navbar .basket-img {
  position: absolute;
  width: 3rem;
  transition: 0.4s all ease-in;
}
.navbar a img:hover {
  width: 3.5rem;
}

.navbar a:hover {
  color: rgb(228, 241, 238);
}
