.profilePage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    width: 70rem;
    align-self: center;
    border: 1px solid red;
  }
  .menu {
    display: flex;
    gap: 0.5rem;
  }

  .content {
    font-size: 1.6rem;
  }
  .tabsItem {
    font-size: 1.8rem;
    width: 20rem;
    height: 4rem;
    border: var(--border-color) 1px solid;
    background-color: var(--default-bg-color);
    border-radius: 0.2rem;
    cursor: pointer;
  }

  .tabsItem:hover,
  .tabsItem:active {
    background-color: var(--border-color);
  }

  .tabActive {
    background-color: var(--border-color);
  }
}
