.filter {
  border-top: 1px solid var(--border-color);
  margin: 2rem;
  position: relative;
  min-height: 5rem;
  padding: 1rem;
}
.caption {
  position: absolute;
  font-size: 1.3rem;
  background: #fff;
  top: -1rem;
  left: 2rem;
  padding: 0 1rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.field {
  padding: 0.3rem 1rem;
  max-width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  color: var(--default-text-color);
}
.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
.label {
  text-align: left;
}

.buttonContainer {
  width: 100%;
}
.btn {
  padding: 0.4rem 1rem;
  margin: 1rem 0.5rem;
  background-color: var(--default-bg-color);
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 0.2rem;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}

@media (max-width: 1100px) {
  .inputContainer {
    max-width: 30rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .field {
    height: 2rem;
  }
  .label {
    margin: 0 2rem;
  }
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 342px) {
  .inputContainer {
    width: 100%;
  }
  .field {
    width: 100%;
  }
}
