.product {
  display: flex;
  flex-direction: column;
  min-width: 75vw;
  min-height: 95%;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */

  .wrapper {
    width: 95%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 3rem;
    padding: 2rem;

    .card {
      width: 75vw;
      display: flex;
      flex-direction: column;
      gap: 1vw;
      padding: 1rem;
      border: 1px solid black;
      border-radius: 0.5rem;

      .slider {
        display: flex;
        flex-wrap: nowrap;
        width: 85%;
        margin: 0 auto;
        align-items: center;

        .btn {
          border: none;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.1);
          transition: all 0.4s ease-in-out;
        }

        .btn:hover {
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.8);
        }

        .btnDisabled:hover {
          cursor: default;
        }

        .prevWrapper {
          display: flex;
          flex-wrap: nowrap;
          overflow: hidden;
          align-items: center;
          justify-content: center;
          align-items: stretch;
          gap: 1rem;

          .sliderImg {
            width: 90%;
            height: auto;
          }

          .active {
            border: 1px solid rgb(0, 0, 0);
          }
        }
      }

      .preview {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        overflow: hidden;

        .lenta {
          position: absolute;
          top: 0;
          height: 100%;
          display: flex;
          gap: 12vw;
          align-items: center;
          transition: all 0.3s ease-in-out;

          .imgContainer {
            height: 100%;
            width: 73vw;

            .previewImg {
              width: 100%;
              /* Займає всю ширину контейнера */
              height: 100%;
              /* Займає всю висоту контейнера */
              object-fit: contain;
            }
          }
        }

        .previewNoimage {
          width: 75%;
        }

        .previewImg:hover {
          cursor: pointer;
          box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

}

@media (max-width: 768px) {
  .product {
    .wrapper {
      display: flex;
      flex-direction: column;

      .card {
        max-width: unset;
        width: 100%;
        padding-left: 5rem;
      }
    }

  }
}
