.contributions {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  align-items: baseline;

  p {
    border: 1px var(--border-color) solid;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: var(--gray-bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 599px) {
  .contributions {
    width: 75%;
  }
}
@media (max-width: 533px) {
  .contributions {
    width: 85%;
  }
}
@media (max-width: 480px) {
  .contributions {
    width: 95%;
  }
}
