.input-field {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  height: 4rem;
  border-radius: 0.5rem;
  background-color: var(--default-bg-color);
  color: var(--primary-text-color);
  border-color: var(--border-color);
  cursor: text;
}
.error-span {
  color: var(--accent-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  display: block;
}

.singup-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-bg-color);
  color: var(--body-text-color);
}
.signup-form {
  display: flex;
  max-width: 60rem;
  padding: 5rem;
  background-color: var(--body-text-color);
  border-radius: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  label {
    padding: 1rem 3rem;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    color: var(--light-text-color);
  }
  .input-field {
    width: 40rem;
  }
  .btn-signup {
    align-self: center;
    font-size: 1.8rem;
    padding: 0 2rem;
    height: 4rem;
    border-radius: 0.5rem;
    background-color: var(--accent-color);
    color: var(--primary-text-color);
    border-color: var(--border-color);
    cursor: pointer;
  }
  .btn-signup:disabled {
    cursor: not-allowed;
    background-color: var(--gray-bg-color);
    color: rgba(220, 220, 220, 0.433);
  }
  .input-field[name='postalCode']:disabled {
    background-color: var(--gray-bg-color);
    cursor: not-allowed;
  }
}
