.list {
  margin: 2rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: baseline;
  gap: 2rem;
  li {
    text-align: left;
  }
}

.button {
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  color: var(--body-text-color);
  cursor: pointer;
  background-color: transparent;
  box-shadow:
    -5px -5px 10px 5px var(--light-shadow),
    5px 5px 9px var(--dark-shadow),
    inset -5px -5px 7px var(--dark-shadow);
  transition: var(--transition);
}

.button:hover,
.button:focus {
  box-shadow:
    4px 4px 6px 0 var(--light-shadow),
    -4px -4px 6px 0 var(--dark-shadow),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 var(--dark-shadow);
}
.active {
  cursor: default;
  color: var(--link-hover-color);
  font-weight: 600;
  /* background-color: var(--accent-color); */
  box-shadow:
    4px 4px 6px 0 var(--light-shadow),
    -4px -4px 6px 0 var(--dark-shadow),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 var(--dark-shadow);
}

@media (max-width: 1100px) {
  .list {
    flex-direction: row;
    justify-content: center;
  }
}
