.footer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;

  .iconWrapper {
    display: flex;
    justify-content: left;
    p {
      margin-right: 2rem;
    }
    .twitterIcon {
      background-image: url('../../../../assets/icon/icons8-twitterx.svg');
    }
    .facebookIcon {
      background-image: url('../../../../assets/icon/icons8-facebook.svg');
    }
    .item {
      width: 3rem;
      height: 3rem;
      background-size: cover;
      opacity: 0.8;
      transition: 0.4sec all ease-in;
    }

    .item:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}
