.formEditPassword {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1.5rem;
  gap: 0.5rem;
}

.editPasswordContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 23rem;
  gap: 0.3rem;
}

.error {
  color: var(--accent-color);
  font-weight: 200;
  font-size: 1.2rem;
}

.inputAddressField {
  border: 0;
  font-size: 1.8rem;
  padding: 0.5rem 1.6rem;
  height: 4rem;
  border-radius: 0.1rem;
  background-color: var(--default-bg-color);
  color: var(--primary-text-color);
  box-shadow:
    4px 4px 6px 0 var(--light-shadow),
    -4px -4px 6px 0 var(--dark-shadow),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 var(--dark-shadow);
}

.errorBorder {
  border: var(--accent-color) 1px solid;
}

.submitPasswordButton {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4rem;
  background-color: var(--dark-bg-color);
  color: var(--light-text-color);
  border-radius: 0.1rem;
  cursor: pointer;
  margin-top: 1rem;
}
.submitPasswordButton:hover {
  box-shadow:
    4px 4px 6px 0 var(--light-shadow),
    -4px -4px 6px 0 var(--dark-shadow),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 var(--dark-shadow);
}
.submitPasswordButton:disabled {
  cursor: not-allowed;
  background-color: var(--gray-bg-color);
  color: rgba(1, 1, 1, 0.206);
  box-shadow:
    4px 4px 6px 0 var(--light-shadow),
    -4px -4px 6px 0 var(--dark-shadow),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 var(--dark-shadow);
}
.hideMessage {
  position: absolute;
  opacity: 0;
  transition: 0.4s all ease-in;
  visibility: hidden;
}

.showMessage {
  display: flex;
  color: red;
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 0.4s all ease-in;
  visibility: visible;
}

@media (max-width: 365px) {
  .inputAddressField {
    width: 100%;
  }
}
