.loginForm {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 30rem;
  padding: 20px;
  overflow: hidden;
}

.loginForm label {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--light-text-color);
}

.loginForm label:has(input[type='checkbox']) {
  position: relative;
}

.loginForm input[type='checkbox'] {
  width: 0;
  position: absolute;
  right: 2rem;
  top: 3rem;
  opacity: 0.5;
}

.loginForm input[type='checkbox']:checked {
  opacity: 1;
}

.loginForm input[type='checkbox']::after {
  content: '👁️';
  position: absolute;
}

.loginForm button {
  padding: 0.4rem 0.6rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
  border: 0;
  background-color: #5982f5;
  color: #fff;
}

.loginForm button:disabled {
  color: #0000009a;
  border: 1px solid #0000009a;
  background-color: transparent;
  cursor: default;
}

.failMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  gap: 1rem;
}

.failMessageTitle {
  color: #900;
  font-size: 2rem;
}
