.addressesTabContent {
  .defaultAddress {
    background-color: rgba(188, 150, 150, 0.594);
  }
  .addressContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.5rem;
    gap: 0.5rem;
  }
  .addressHead {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .addressControl {
    display: flex;
    justify-content: space-between;
  }
  .addressBlock {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .address {
    border: 1px var(--border-color) solid;
    border-radius: 0.5rem;
  }
}

.profileTabContent {
  .profileContent {
    border: 1px var(--border-color) solid;
    border-radius: 1rem;
    margin: 1.5rem;
  }
}
.profilePasswordContent {
  .passwordContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.5rem;
    gap: 0.5rem;
  }
}

.profileContentString {
  font-size: 1.8rem;
  span {
    font-size: 1.55rem;
    color: var(--body-text-color);
  }
}
