.specials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-weight: 800;
  p {
    text-align: center;
  }
}
.RSLinks {
  max-width: 20rem;
}

@media (max-width: 694) {
  .contributions {
    width: 95%;
  }
}
