.addressesTabContent {
  position: relative;
}
.addressContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1.5rem;
  gap: 0.5rem;
}
.addressHead {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
.controlBlock {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.2rem;
  flex-wrap: wrap;
}
.controlAddressButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: var(--default-bg-color);
  border: none;
  cursor: pointer;
}
.controlAddressButton:hover,
.controlAddressButton:active {
  background-color: var(--border-color);
}
.addNewAddressButton {
  width: 10rem;
  gap: 0.2rem;
  font-size: 1.2rem;
}
.controlAddressButton:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: var(--gray-bg-color);
  color: rgba(220, 220, 220, 0.433);
}
.address {
  border: 1px var(--border-color) solid;
  padding: 1.5rem;
  border-radius: 0.1rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.defaultAddress {
  border-color: var(--accent-color);
}

.addressControl {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.oneAddress {
  justify-content: flex-end;
}
.addressRadio {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
.error {
  color: var(--accent-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
}

.showModalEditAddress {
  border: 1px var(--border-color) solid;
  padding: 1.5rem;
  border-radius: 0.1rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.addressForm {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.inputAddressField {
  border: 0;
  width: 100%;
  font-size: 1.8rem;
  padding: 0.5rem 1.6rem;
  height: 4rem;
  border-radius: 0.1rem;
  background-color: var(--default-bg-color);
  color: var(--primary-text-color);
  border-left: 1px;
  box-shadow:
    4px 4px 6px 0 var(--light-shadow),
    -4px -4px 6px 0 var(--dark-shadow),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 var(--dark-shadow);
}
.label {
  display: flex;
  gap: 0.5rem;
  p {
    width: 12rem;
    color: var(--body-text-color);
  }
}
.addressBlock {
  display: flex;
  flex-direction: column;
}
.addressContentString {
  display: flex;
  gap: 0.5rem;
  font-size: 1.8rem;
}
.fieldName {
  width: 12rem;
  font-size: 1.6rem;
  color: var(--body-text-color);
}
.editAddressContainer {
  display: flex;
  flex-direction: column;
}

.showTextAddressContent {
  opacity: 1;
  transition: 0.4s all ease-in;
}
.hideTextAddressContent {
  display: none;
}

@media (max-width: 471px) {
  .profileTabContent {
    .profileContent {
      flex-direction: column;
    }
  }
}

@media (max-width: 376px) {
  .defaultAddress p,
  .defaultAddress .addressContentString,
  .address p,
  .address .addressContentString {
    font-size: 1.5rem;
  }

  .defaultAddress,
  .address {
    padding: 1rem;
  }
}
