:root {
  --accent-color: rgb(14, 165, 233);
  --default-bg-color: rgb(255, 255, 255);
  --primary-text-color: rgb(17, 24, 39);
  --body-text-color: rgb(75, 85, 99);
  --light-text-color: rgb(248, 248, 248);
  --gray-bg-color: rgb(248, 248, 248);
  --border-color: rgb(229, 231, 235);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  background-color: var(--default-bg-color);
}

.header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;

  .logo {
    position: absolute;
    top: 1rem;
    left: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    background-image: url('./assets/img/Default_Draw_logo_for_company_Galactic_Exclusive_0.png');
    background-size: cover;
    transition: 0.4s all ease-in;
  }
  .logo:hover {
    width: 5rem;
    height: 5rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;

    a {
      margin-right: 25px;
      text-decoration: none;
      color: black;
      transition: 0.4s all ease-in;
    }
    a:last-child {
      margin-left: 5rem;
      margin-right: 3rem;
    }
    .basket-img {
      position: absolute;
      width: 3rem;
      transition: 0.4s all ease-in;
    }
    a img:hover {
      width: 3.5rem;
    }

    a:hover {
      color: rgb(228, 241, 238);
    }
  }
}

.no-login-message {
  position: absolute;
  padding: 0.5rem;
  display: flex;
  width: 100%;
  height: 3rem;
  background-color: rgba(238, 225, 46, 0.8);
  align-items: center;
  transition: 0.4s all ease-in;

  .wrapper {
    font-size: 1.2rem;
    text-align: center;

    a {
      margin-left: 2rem;
      text-decoration: none;
      color: var(--primary-text-color);
    }

    a:hover {
      font-weight: 600;
    }
  }

  .close {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    position: absolute;
    right: 1rem;
    cursor: pointer;

    img {
      width: 2rem;
      height: 2rem;
      transition: 0.4s all ease-in;
    }

    img:hover {
      width: 2.2rem;
      height: 2.2rem;
    }
  }
}

.message-hide {
  height: 0;
  padding: 0;
}

.main {
  color: var(--light-text-color);
  background-color: var(--accent-color);

  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80rem;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .greeting {
    background-image: url('./assets/img/Default_draw_a_picture_about_Welcome_to_Galactic_Exclusive_yo_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .offer {
    background-image: url('./assets/img/Default_Draw_the_rings_of_Saturn_in_space_0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .call-to-action {
    background-image: url('./assets/img/Default_draw_a_picture_about_exotic_islands_Place_the_island_o_0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      margin-bottom: 3rem;
      font-size: 4rem;
    }
    .subtitle {
      margin-top: 1rem;
      font-size: 2rem;
    }
  }
}

.footer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.page-nofound {
  height: 78vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('./assets/img/Default_Not_found_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .title {
    font-size: 12rem;
  }

  .subtitle {
    font-size: 3rem;
    font-weight: 600;
  }

  .button {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    background-color: #7e7474;
    margin-top: 20px;
    text-decoration: none;
    font-weight: 600;
    color: #000;
    transition: 0.2s all ease-in;
  }
  .button:hover {
    cursor: pointer;
    background-color: rgb(177, 96, 58);
  }
}
