.loginFormInput {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  padding: 0.8rem 1.3rem 0.8rem 0.8rem;
  outline: 0;
  border: 0;
  background-color: #4886af59;
  margin-top: 0.1rem;
  border-radius: 2px;
  color: var(--light-text-color);
}

.loginFormInput::placeholder {
  color: var(--light-text-color);
}

.errorMsg {
  display: inline-block;
  width: 100%;
  height: 12px;
  color: #900;
  font-size: 1.1rem;
  text-align: center;
  transition: opacity ease-in 0.3s;
  opacity: 0;
}

.errorMsg:not(:empty) {
  opacity: 1;
}
